# Variables

When programming, you want to be able to store information. A variable is a reserved memory location used to store information. For example in the next cell we define a new variable that stores the value 3. We can see this when we pass the variable to the print function to print it to the console.

In [6]:
a = 5
print(a)

5

This variable is now stored on your computer and we can even see where it is stored by using the id() function. This is the address in the memory of your computer where the value of this variable is stored.

In [13]:
hex(id(a))

'0x7f4aa558b9b0'

Each variable has a certain type. The variable a as the type int. An int is short for integer. To see what the type of a variable is you can use the function type(). Pass the variable of which you want to see the type as an argument to that function as follows.

In [7]:
type(a)

int

We can also define a variable of the type str, which is short for string, a sequence of characters.

In [15]:
b = "Hello world!"
print(b)
type(b)

Hello world!

str

There are a number of built-in types at which we will now take a look. For a list of all built-in types take a look [here](https://docs.python.org/3/library/).

# Built-in types

## Integers

Integers are whole numbers, not decimals. Numbers like 0, 1, -34 are all integers. We can use python to perform operations on integers. We can add them, subtract them, multiply them, divide them, raise them to the power, etc. Ints are what are called numerical types, there are three numerical types: ints, float, complex.

In [19]:
3+1

4

In [20]:
4-7

-3

In [21]:
4*5

20

In [24]:
7/3

2.3333333333333335

In [34]:
2**3

8

Notice here that the result of the division results in a decimal number, decimal numbers are not integers and have the type float.

In [25]:
type(7/3)

float

We can also divide such that the result is an integer, this is call integer division. To do this the result is rounded down to the nearest integer.

In [27]:
7//3

2

In [28]:
type(7//3)

int

There is another operation we can perform on integers. That you might not be familiar with, the modulus operator. This operator returns the remainder after doing integer division.

In [58]:
11 % 3

2

The operations can also be chained together and we can use brackets to force a certain precedence.

In [31]:
5 * 6 - 1 / 6 + 4

29.9

In [32]:
5 * (6 - 1) / (6 + 4)

2.5

## Floats

Floats are represent decimal numbers and store decimal numbers in a floating point representation. If you want to learn more about how these floats are stored in memory, take a look [here](https://en.wikipedia.org/wiki/Floating-point_arithmetic). We can do the same operations on floats as we can on integers (except of integer division). Play around with them in the cell below.

In [36]:
5.3 * (6.1 - 1.7) / (6.3 + 4.5**5)

0.012594640391827254

## Strings

Strings are sequences of characters. We can also perform certain operations on strings.

In [41]:
"Hello" + " world!"

'Hello world!'

In [42]:
"Hello" * 5

'HelloHelloHelloHelloHello'

In [43]:
"Hello" + " world!" + " Hello" + " world!"

'Hello world! Hello world!'

## Booleans

The last basic type we will look at here is the booleans. Booleans can only have two values, True or False. We can perform logic on booleans.

In [44]:
True

True

In [45]:
True and False

False

In [46]:
(True and False) or (True and True)

True

# Working with variables

Why would we use variables? Lets say we want to use the value 5 in different operations.

In [48]:
print(5)
print(5 + 8)
print(5 * 2 / 3)

5
13
3.3333333333333335

If we want to update the 5 to a six we will need to make three changes in the code. Instead, we could store the value 5 in a variable and use that variable instead.

In [51]:
print(6)
print(6 + 8)
print(6 * 2 / 3)

6
14
4.0

In [52]:
a = 5
print(a)
print(a + 8)
print(a * 2 / 3)

5
13
3.3333333333333335

Now to update the 5 to a six, we can simply change the value of the variable a.

In [53]:
a = 6
print(a)
print(a + 8)
print(a * 2 / 3)

6
14
4.0

We can also define another another variables and combine the two variables we defined. Or assign their values to each other.

In [54]:
b = 52

In [56]:
a + b * 4

214

In [57]:
print(a + b * 4 ** 3.5)

6662.0

In [60]:
a = b
print(a)

52

Because assigning variables with an operation, is such a common pratice there are shorter notations for most operations. Below are a few examples.

In [74]:
c = 4

In [75]:
c += 1
print(c)

5

In [76]:
c -= 1
print(c)

4

In [77]:
c /= 4
print(c)

1.0

In [78]:
c += a
print(c)

53.0

Note that variables stay the same, so if you add one to a variable in a cell and execute previous cell again, that variable will now have the value one added to it. Try this out and you now know the basics of working with variables, so play around with this a little below and see if things work the way you expect.

# Casting

Sometimes we need to convert one datatype to another. This process is called casting. Below a few examples are given.

In [2]:
a = int(4.564)
print(a)

4

In [3]:
b = ord("a")
print(b)

97

In [4]:
print(chr(104))

h

In [5]:
list("asdfasdfs")

['a', 's', 'd', 'f', 'a', 's', 'd', 'f', 's']